{% block title %}Log-in{% endblock %}
{% block content %}
    <h1>Log-in</h1>
    {% if form.errors %}
        <p>
            Su usuario y contraseña no coinciden. Por favor intente de nuevo
        </p>
    {% else %}
        <p>Po favor use el siguiente formulario para iniciar sesión</p>
    {%  endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p><input type="submit" value="Iniciar sesión"></p>
        </form>
    </div>
{% endblock %}