{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artemisa Inmobiliaria</title>
    <link rel="shortcut icon" href="{% static  'media/logofinal.png'%}" type="image/x-icon">
    <link rel="stylesheet" href="{% static  'css/style.css'%}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a href="#">Inicio</a>
            <a href="#Productos">Productos</a>
            <a href="#">¿Quiénes somos?</a>
            <a href="#">Contacto</a>
            <a href="{% url 'login' %}">Iniciar sesión</a>
        </nav>
        <section class="textos-header">
            <h1>Artemisa Inmobiliaria</h1>
            <h2>Con una pagina web potente</h2>
        </section>
        <div class = "wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
    </header>
        <main>
        <section class = "contenedor sobre-nosotros">
            <h2 class="titulo">Nuestro producto</h2>
            <div id="Sobre nosotros">
                <img src="{%static 'media/logofinal.png'%}" alt="" class="imagen-about-us">
                <div class="contenedor-textos">
                    <h3><span>1</span>Los mejores productos</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse magnam perferendis ducimus voluptatem explicabo nulla assumenda fugit, et possimus eveniet libero dolores repellat quae provident! Minima natus similique voluptatem numquam.</p>
                    <h3><span>2</span>Los mejores productos</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse magnam perferendis ducimus voluptatem explicabo nulla assumenda fugit, et possimus eveniet libero dolores repellat quae provident! Minima natus similique voluptatem numquam.</p>
                </div>
            </div>
        </section>
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">Portafolio</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src= alt="">
                        <div class="hover-galeria">
                            <img src="img/icono.jpeg" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/3.jpeg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono.jpeg" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/4.jpeg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono.jpeg" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/5.jpeg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono.jpeg" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>