{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artemisa Inmobiliaria</title>
    <link rel="shortcut icon" href="{% static 'media/logofinal.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container2">

      <ul class="slider">
        <li id="slide1">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3947459/car.jpg"/>
        </li>
        <li id="slide2">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3947459/sunset.jpg"/>
        </li>
        <li id="slide3">
          <h1>Ejemplo con otros elementos</h1>
          <p>Esto es un párrafo de ejemplo para comprobar que podemos meter cualquier tipo de elementos en el slider</p>
          <a href="https://kikopalomares.com/">¡Corre a mi web para más contenido!</a>
        </li>
      </ul>

      <ul class="menu">
        <li>
          <a href="#slide1"></a>
        </li>
        <li>
          <a href="#slide2"></a>
        </li>
         <li>
          <a href="#slide3"></a>
        </li>
      </ul>

    </div>
</body>
</html>
