{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artemisa Inmobiliaria</title>
    <link rel="shortcut icon" href="{% static 'media/logofinal.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'index' %}">Inicio |</a>
        </nav>
        <section class="textos-header">
            <h1>GRACIAS POR TU COMPRA</h1>
        </section>
        <div class = "wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
    </header>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foot">
                <h4>Teléfono</h4>
                <p>(1) 3716808</p>
            </div>
            <div class="content-foot">
                <h4>Correo Electrónico</h4>
                <p>Artemisa.Inmobiliaria@artemisa.com</p>
            </div>
            <div class="content-foot">
                <h4>Ubicación</h4>
                <p>Bogotá D.C</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; ARTEMISA | INMOBILIARIA </h2>
    </footer>
</body>
</html>