{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Artemisa Inmobiliaria</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/product/">
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
</head>
<body style="background-color: lavender">
    <div class="barra">
        <div> <a class="link" href ="{% url 'index' %}" >Inicio</a> </div>
        <div> <a class="link" href="{% url 'inmuebles' %}">Productos</a> </div>
        <div></div>
        <div></div>
    </div>
{#    <div class = 'barra'>#}
{#        <nav class="navbar navbar-light" style="background-color: #b676ef">#}
{#            <a href ="{% url 'index' %}"  style="text-decoration:none">Inicio</a>#}
{#            <a href="{% url 'inmuebles' %}" style="text-decoration:none">Productos</a>#}
{#            <a href="{% url 'presentacion' %}" style="text-decoration:none">¿Quiénes somos?</a>#}
{#            <a href="{% url 'contacto' %}" style="text-decoration:none">Contacto</a>#}
{#            <a href="{% url 'login' %}" style="text-decoration:none">Ingreso</a>#}
{#        </nav>#}
{#    </div>#}
    <div class="img1">
      <img src= "{% static 'logofinal.png' %}" width=  "564" height="100%"/>
    </div>
</body>
</html>