<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artemisa Inmobiliaria</title>
    <link rel="shortcut icon" href="img/logofinal.png" type="image/x-icon">
    <link rel="stylesheet" href="css/estiloPerfil.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a href="#">Inicio |</a>
            <a href="#">Añadir inmueble |</a>
            <a href="#">Editar inmueble |</a>
            <a href="#">Eliminar inmueble |</a>
            <a href="#">Añadir domiciliario |</a>
            <a href="#">Eliminar domiciliario |</a>
            <a href="#">Mi perfil |</a>
        </nav>
        <section class="textos-header">
            <h1>ADMINISTRADOR</h1>
        </section>
        <div class = "wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
    </header>
    <main>
        <section class="contenedor-clientes">
            <h2 class="titulo">MI PERFIL</h2>
            <div class="cards">
                <div class="card">
                    <img src="img/vale.jpeg" alt="">
                    <div class="contenido-texto-card">
                        <h4>Valentina Lopez</h4>
                        <h5><span>1</span> Número de identificación: 1004923967</h5>
                        <h5><span>2</span> Correo electronico: valentina.lopez@artemisa.com</h5>
                        <h5><span>3</span> Fecha de nacimiento: 28/12/2001</h5>
                        <h5><span>3</span> Género: Femenino</h5>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foot">
                <h4>Teléfono</h4>
                <p>(1) 3716808</p>
            </div>
            <div class="content-foot">
                <h4>Correo Electrónico</h4>
                <p>Artemisa.Inmobiliaria@artemisa.com</p>
            </div>
            <div class="content-foot">
                <h4>Ubicación</h4>
                <p>Bogotá D.C</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; ARTEMISA | INMOBILIARIA </h2>
    </footer>
</body>
</html>